<footer id="footer" class="clearfix">
    <% if (config.social) { %>
        <div class="social-wrapper">
          <% (config.social||[]).forEach(function(value){ %>
              <% if (value.url && value.icon) { %>
                  <a href="<%= url_for(value.url) %>" class="social <%- value.icon %> flat-btn" target="_blank" rel="external"></a>
              <%}%>
          <%})%>
        </div>
    <%}%>
    <br>
    <div>本站使用 <a href="https://hexo.io" target="_blank" class="codename">hexo</a> 构建，
    使用 <a href="https://xaoxuu.com/wiki/material-x/" target="_blank" class="codename">Material X</a> 作为主题。
    </div>
</footer>
